@media screen and (max-width : 992px )
{
	
}
@media screen and (max-width : 768px )
{
	.regester
	{
		width : 100%;
		height : 200vh;
	}
	.regester .regester-boxs
	{
		flex-direction : column;
	}
}
@media screen and (max-width : 576px )
{
	
}